#header{
    text-align: center;
}
#content{
    text-align: center;
    font-size: 40px;
}
#increment{
    padding:10px;
    font-size: 14px;
}
#Reset{
    padding:11px;
    font-size: 14px;
}
#Decrement{
    padding:10px;
    font-size: 14px;
}
#button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-container button {
    margin: 0 10px;
}